!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7]    <html class="no-js lt-ie9 lt-ie8">
/[if IE 8]    <html class="no-js lt-ie9">
<!--[if gt IE 8]><!-->
%html{:class => "no-js"}
  <!--<![endif]-->
  %head
    %meta{charset: "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", content: "IE=edge"}

    -# Pull in the page title
    %title= current_page.data.title

    %meta{name: "description", content: current_page.data.desc}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}

    %meta{property: "og:title", content: current_page.data.title}
    %meta{property: "og:description", content: current_page.data.desc}
    %meta{property: "og:site_name", content: "Hashs"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "og:image", content: image_url("hashs_og_image.png")}
    %meta{property: "og:image:width", content: "1200"}
    %meta{property: "og:image:height", content: "630"}

    %link{rel: "icon", href: "/favicon.ico", type: "image/x-icon"}

    = stylesheet_link_tag "style"
    = javascript_include_tag "libs/modernizr-2.7.1.min"

  %body{:class => current_page.data.bodyclass}
    /[if lt IE 8]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    .container
      #main{:role => "main"}
        -# Page content gets rendered here
        = yield

      %footer
        %ul
          %li
            = link_to "http://www.facebook.com/hashsapp", class: "soc1" do
              = sprockets.find_asset("facebook_icon.svg").to_s
          %li
            = link_to "https://twitter.com/hashsapp", class: "soc2" do
              = sprockets.find_asset("twitter_icon.svg").to_s
          %li
            = link_to "http://www.instagram.com/hashsapp", class: "soc3" do
              = sprockets.find_asset("instagram_icon.svg").to_s
        %p
          &copy; 2016 Hashs.
          = link_to "FAQ", "/faq"
          = link_to "About", "/about"
          = link_to "Terms", "/terms"
          %a.iubenda-white.iub-legal-only.iubenda-embed{:href => "//www.iubenda.com/privacy-policy/7839173", :title => "Privacy Policy"} Privacy Policy
          :javascript
            (function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);

    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    :javascript
      window.jQuery || document.write('<script src="/javascripts/libs/jquery-1.10.2.min.js"><\/script>')

    = javascript_include_tag "plugins", "script"

    -# Google Analytics: change UA-XXXXX-X to be your site's ID.
    -# :javascript
      -# (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      -# function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      -# e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      -# e.src='//www.google-analytics.com/analytics.js';
      -# r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      -# ga('create','UA-XXXXX-X');ga('send','pageview');
