---
title:      "#About #Hashs"
bodyclass:  page about
desc:       Hashs app
---

.page-content
  %h1
    %span.icon
    = link_to "Hashs", "/"

  :markdown
    ## About

    We aim to bring happiness, emotions and meaning among friends through hash tags. Hashs app is simple, easy and fun!

    Made with love by these guys.

  .people.clearfix
    %figure
      = image_tag "umar_photo.jpg", alt: "Umar", width: 64, height: 64
      .desc
        %strong= "Umar"
        %br/
        Product
    %figure
      = image_tag "omar_photo.jpg", alt: "Omar", width: 64, height: 64
      .desc
        %strong= "Omar"
        %br/
        Code
    %figure
      = image_tag "misbah_photo.jpg", alt: "Misbah", width: 64, height: 64
      .desc
        %strong= "Misbah"
        %br/
        Marketing
    %figure
      = image_tag "aen_photo.jpg", alt: "Aen", width: 64, height: 64
      .desc
        %strong= "Aen"
        %br/
        Pixels

  :markdown
    Hashs Technologies IVS 2016 – Copenhagen and Palo Alto, California