---
title:      Hashs
bodyclass:  home
desc:       Hashs app
---

.content
  .brand
    %span.icon
    .name
      %h1= "Hashs"
  .hero
    %h2= "#hash with friends"
    %p.intro= "for happiness, emotions and meaning with fun hashtags!"
    = image_tag "iphone@2x.png", alt: "iPhone"
.get
  .apple
  .download
    %span= "coming soon to the app store"

.subscribe
  %form#subForm{action: "http://aen.createsend.com/t/r/s/hydltld/", method: "post"}
    %input#fieldEmail{name: "cm-hydltld-hydltld", required: "", type: "email", placeholder: "your email address"}/
    %button{type: "submit"} notify me