---
title:      Hashs app
bodyclass:  home
desc:       '#hash with friends happiness, emotions and meaning among friends with fun hash tags.'
---

.content
  .brand
    %span.icon
    .name
      %h1= "Hashs"
  .hero
    .intro
      %h2= "#hash with friends"
      %p= "happiness, emotions and meaning among friends with fun hash tags."
    = image_tag "iphone@2x.png", alt: "iPhone"
.get
  .apple
    = link_to "Download on the App Store", "https://itunes.apple.com/sg/app/hashs/id1127315901?mt=8"
  .download
    %span= "it’s out now!"

.subscribe
  %form#subForm{action: "http://aen.createsend.com/t/r/s/hydltld/", method: "post"}
    %input#fieldEmail{name: "cm-hydltld-hydltld", required: "", type: "email", placeholder: "your email address"}/
    %button{type: "submit"} notify me